*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.not__mobile{
    display: none;
}

.mobile .nav__menu__mobile{
    position: fixed;
    transform: translateX(-400px);
    max-width: 200px;
    min-height: 100vh;
    padding: 20px;
    transition: 0.1s;
}
.mobile .nav__menu__mobile .nav__mobile{
    list-style: none;
    height: 100%;
}
.mobile .nav__menu__mobile .nav__mobile li{
    margin: 20px 0;
}
.mobile .nav__menu__mobile .nav__mobile li img{
    width: 10%;
}
.mobile .nav__menu__mobile .nav__mobile li a{
    text-decoration: none;
    color:#171717;
}
.mobile .nav__menu__mobile.active{
    transform: translateX(0);
}
.mobile .nav__menu__mobile .logo__mobile{
    display: flex;
    align-items: center;
}
.mobile .container .mobile__content  .logo h3{
    font-size: 2.5em;
    font-weight: 400;
    text-align: center;
}
.mobile .nav__menu__mobile .logo__mobile span{
    color: #171717;
    font-weight: 700;
}
.mobile .nav__menu__mobile .logo__mobile   img{
    width: 20%;
    margin-right: 10px;
}
.mobile .social{
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.mobile .social ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding-bottom: 10px;
}
.mobile .social ul li{
    margin: 0 10px;
    border-radius: 50%;
}
.mobile .social ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-decoration: none;
    background: #171717;
    border-radius: 50%;
}
.mobile .container.active .mobile__content     {
    display: none;
}
.mobile.package{
    background: #E0E0E0;
}
.mobile .container .mobile__content{
    padding: 20px;
}
.mobile .container.active{
    transform: translateX(60%);
    min-height: 75vh;
    position: fixed;
    top: 10%;
    border-radius: 30px;
}
.mobile .container .hamburger{
    width: 30px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.mobile .container .hamburger div{
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
    background-color: #fff;
    transition: 0.1s;
}
.mobile .container .hamburger.active div:nth-child(1){
    transform: rotate(-45deg) translateY(15px) translateX(-12px);
}
.mobile .container .hamburger.active div:nth-child(2){
    opacity: 0;
}
.mobile .container .hamburger.active div:nth-child(3){
    transform: rotate(45deg) translateY(-2px);
}
.mobile .container.active{
    background-image: url('../mypicture/Thanh\ Thao\ Mai.JPG');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.mobile .container{
    max-width: 540px;
    margin: 0 auto;
    padding: 15px;
    min-height: 100vh;
    transition: 0.1s;
}
.mobile .container.active .image_box{
   display: none;
}
.mobile .container .image_box .box{
    min-height: 300px;
    position: relative;
}
.mobile .container .image_box {
    padding: 0 20px;
}
.mobile .container.active .context{
    display: none;
}
.mobile .container .context{
    padding:20px;
    text-align: left;
}
.mobile .container .context h3{
    font-size: 2em;
    font-weight: 400;
    padding: 20px 0;
    text-align: center;
    color: #171717;
}
.mobile .container .context p{
    color: #171717;
    font-size: 14px;
    line-height: 1.5em;
}
.mobile .container .image_box .box .img img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.mobile .container .image_box .box .text{
    padding: 20px 0;
    width: 30%;
    margin: 0 auto;
}
.mobile .container .image_box .box .text h3{
    text-align: center;
    display: block;
    color: rgba(0,0,0,0.6);
    font-weight: 400;
    border-bottom: 3px solid rgba(0,0,0,0.6);
    line-height: 2em;
}
.mobile .container .image_box .box img{
    width: 100%;
}
/* end menu mobie */
@media screen and (min-width:500px){
    .wraper{
        display: initial;
    }
    .mobile{
        display: none;
    }
    .not__mobile{
        display: initial;
    }
    .not__mobile .container{
        max-width: 760px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .wraper .container.large .content__large .box .image img {
        width: 100%;
    }
    .wraper .container.large {
        padding: 50px 0;
        background: #e0e0e0;
    }
    .wraper .container.large .content__large{
       max-width: 350px;
       margin: 0 auto;
    }
    .wraper .container.large .context{
        padding:20px;
        text-align: left;
    }
    .wraper .container.large .context h3{
        font-size: 2em;
        font-weight: 400;
        padding: 20px 0;
        text-align: center;
        color: #171717;
    }
    .wraper .container.large .context p{
        color: #171717;
        font-size: 14px;
        line-height: 1.5em;
    }
    .not__mobile .container .content__not__mobile .logo{
        max-width: 100px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .not__mobile .container .content__not__mobile{
        position: relative;
        min-height: 75px;
        display: flex;
        align-items: center;
    }
    .not__mobile .container .content__not__mobile img{
        width: 100%;
    }
    .not__mobile .container .content__not__mobile .menu__not__mobile{
        position: relative;
        width: 100%;
    }
    
    .not__mobile .container .content__not__mobile .menu__not__mobile nav .nav__not__mobile li{
        margin: 0 20px;
        list-style: none;
        display: inline-block;
    }
   
    .not__mobile .container .content__not__mobile .menu__not__mobile nav .nav__not__mobile li:nth-child(3){
        float: right;
    }
    .not__mobile .container .content__not__mobile .menu__not__mobile nav .nav__not__mobile li:nth-child(4){
        float: right;
    }
    .wraper .container.large .content__large .box{
        margin-bottom: 20px;
    }
    .wraper .container.large .content__large .box .text{
        padding: 10px;
        width: 50%;
        margin: 0 auto;
    }
    .wraper .container.large .content__large .box .text h3{
        text-align: center;
        display: block;
        color: rgba(0,0,0,0.6);
        font-weight: 400;
        border-bottom: 3px solid rgba(0,0,0,0.6);
        line-height: 2em;
    }
    .not__mobile .container .content__not__mobile .menu__not__mobile nav .nav__not__mobile li a{
        text-decoration: none;
        color: #171717;
        font-weight: 400;
    }
    .not__mobile .container.body{
       display: none;
    }
    .not__mobile .container.body .text{
        position: absolute;
        top: 10%;
        text-align: center;
    }
    .not__mobile .container.body .text h3{
        color: #ffffff;
        font-size: 16px;
    }
    .not__mobile .container.body .text p{
        color: #ffffff;
        text-transform: uppercase;
        margin-top: 20px;
        letter-spacing: 0.5px;
    }
}
/* end tablet mini */
@media screen and (min-width:640px){
    .not__mobile .container .content__not__mobile .menu__not__mobile nav .nav__not__mobile li{
        margin: 0 40px;
    }
}
@media screen and (min-width:768px){
    .wraper{
        display: initial;
    }
    header.not__mobile .container.large{
        display: initial;
    }
    header.not__mobile .container .content__not__mobile .menu__not__mobile{
        width: 100%;
    }
    .wraper .container.large .content__large{
        width: 100%;
        max-width: unset;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: center;
    }
    .wraper .container.large .content__large .box{
        max-width: 350px;
        margin: 0 auto;
    }
    .wraper .container.large .box .image{
        height: 500px;
        position: relative;
    }
    .wraper .container.large .content__large .box .image img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    .wraper .container.large .content__large .box{
        padding: 10px;
       flex-basis: 60%;
       margin: 0;
    }
    .wraper .container.large .context{
        flex-basis: 40%;
    }
    .wraper .container.large .context .social ul{
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 20px 0;
    }
    .wraper .container.large .context .social ul li{
        margin: 0 20px;
        border-radius: 50%;
    }
    .wraper .container.large .context .social ul li a{
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        text-decoration: none;
        background: #171717;
        border-radius: 50%;
    }
    header.not__mobile .container .content__not__mobile .menu__not__mobile .nav__not__mobile li{
        margin: 0 40px;
    }
    .not__mobile .container .content__not__mobile .menu__not__mobile nav .nav__not__mobile li a{
        font-size: 1.2em;
    }
    .not__mobile .container{
        margin: 0;
        max-width: 991px;
        padding: 20px;
    }
    .not__mobile .container.body .text{
        top: calc(100vh - 20%);
    }
    .not__mobile .container.body .text h3{
        font-size: 1.5em;
    }
    .not__mobile .container.body .text p{
        font-size: 1.8em;
    }
   
    .wraper .container.large .context h3{
        font-size: 2.5em;
    }
}
/* end ipad */
@media screen and (min-width:1024px){
    .wraper{
        display: block;
    }
    header.not__mobile .container.large{
        display: block;
    }
    .wraper .container.large .context p{
        font-size: 1.2em;
    }
    .wraper .container.large .content__large{
        display: flex;
    }
    .not__mobile .container.large_top{
        box-shadow: 0px 5px 5px #171717,0px 5px 5px #171717;
    }
    .not__mobile .container{
        max-width: 1240px;
        margin: 0 auto;
    }
    header.not__mobile .container .content__not__mobile .menu__not__mobile .nav__not__mobile li{
        margin: 0 40px;
    }
    .not__mobile .container .content__not__mobile .menu__not__mobile nav .nav__not__mobile li a{
        font-size: 1.5em;
    }
    .not__mobile .container.body{
        display: none;
    }
    header.not__mobile .wraper .container.large .content__large .box {
        position: relative;
    }
    header.not__mobile .wraper .container.large .content__large .box .image{
        position: relative;
        height: 450px;
    }
    header.not__mobile .wraper .container.large .content__large .box .image img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    header.not__mobile .wraper .container.large {
        max-width: 991px;
        margin: 0 auto;
    }
    header.not__mobile .wraper .container.large .content__large{
       
    }
    .wraper .container.large .content__large .box{
        flex-basis: 40%;
    }
    .wraper .container.large .context{
        flex-basis: 60%;
    }
    header.not__mobile .wraper .container.large .content__large .box:nth-child(2) .image{
        height: 80%;
    }
    .wraper .container.large .content__large .box .text h3{
        border: none;
        font-size: 2em;
    }
    .wraper .container.large .content__large .box:nth-child(2) .text h3{
        border-bottom: 3px solid rgba(0,0,0,0.6);
        line-height: 2em;
    }
    header.not__mobile .wraper .container.large .content__large .box:nth-child(2) .text {
        text-align: center;
        padding: 20px 0;
    }
    header.not__mobile .wraper .container.large .content__large .box:nth-child(2) .text h3{
       
        line-height: 1.5em;
    }
    header.not__mobile .wraper .container.large .content__large .box:nth-child(2) .text p{
        font-size: 1.4em;
        text-transform: uppercase;
        line-height: 2.5em;
    }
    .not__mobile .wraper{
        width: 100%;
        background: #E0E0E0;
        padding: 50px 0;
    }
}
/* end tablet large */
@media screen and (min-width:1300px){
    header.not__mobile .container .content__not__mobile .menu__not__mobile .nav__not__mobile li:nth-child(2) a{
        font-weight: 900;
    }
    .not__mobile .container.large_top{
        box-shadow: unset;
    }
    .not__mobile .container{
        max-width: 1440px;
        margin: 0 auto;
    }
    header.not__mobile .wraper .container.large{
        max-width: 1440px;
        margin: 0 auto;
    }
    .not__mobile .container.body{
        display: none;
    }
    .not__mobile .container .content__not__mobile .menu__not__mobile nav .nav__not__mobile li a{
        font-size: 1.2em;
    }
    .not__mobile .container .content__not__mobile{
        min-height: 10  0px;
    }
    header.not__mobile .container .content__not__mobile .menu__not__mobile .nav__not__mobile li{
        margin: 0 80px;
    }
    header.not__mobile .wraper .container.large .content__large{
        justify-content: space-around;
    }
    header.not__mobile .wraper .container.large .content__large .box .image{
        height: 550px;
    }
}
